<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/header.html') %>

	<!-- 菜单栏 -->
	<div class="navbar">
		<ul class="w">
			<li class="bar-item first-bar-item">
				<span>
					<i class="fa fa-align-justify" aria-hidden="true"></i>
					全部产品分类
				</span>
			</li>
			<li class="bar-item"><a href="./list.html?keyword=手机" target="_blank">手机</a></li>
			<li class="bar-item"><a href="./list.html?keyword=数码" target="_blank">数码</a></li>
			<li class="bar-item"><a href="./list.html?keyword=电脑" target="_blank">电脑</a></li>
			<li class="bar-item"><a href="./list.html?keyword=家电" target="_blank">家电</a></li>
			<li class="bar-item"><a href="./list.html?keyword=图书" target="_blank">图书音象</a></li>
			<li class="bar-item"><a href="./list.html?keyword=户外" target="_blank">户外运动</a></li>
			<li class="bar-item"><a href="./list.html?keyword=车" target="_blank">汽车用品</a></li>

		</ul>
	</div>
	<!-- 左侧导航 和 右侧轮播图 -->
	<div class="w">
		<ul class="keywords-list">
			<li class="keywords-item">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=手机">手机</a>
				<!-- 右侧弹出 -->
				<div class="left-sub-list">
					<div class="level">
						<dt>
							<a class="link" href="">苹果手机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">iphone7 128g</a>
							<a class="link" href="" target="_blank">iphone7 64g</a>
						</dd>
					</div>
					<div class="level">
						<dt>
							<a class="link" href="">华为手机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Huwei P10</a>
						</dd>
					</div>
					<div class="level">
						<dt>
							<a class="link" href="">魅族手机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Meizu E2</a>
						</dd>
					</div>
				</div>
			</li>
			<li class="keywords-item">
				<i class="fa fa-camera icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=数码">数码</a>
				<!-- 右侧弹出 -->
				<div class="left-sub-list">
					<div class="level">
						<dt>
							<a class="link" href="">数码相机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Canon 佳能数码相机</a>
						</dd>
					</div>
				</div>
			</li>
			<li class="keywords-item">
				<i class="fa fa-folder icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=电脑">电脑</a>
				<!-- 右侧弹出 -->
				<div class="left-sub-list">
					<div class="level">
						<dt>
							<a class="link" href="">电脑</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">iPad pro</a>
						</dd>
					</div>
					<div class="level">
						<dt>
							<a class="link" href="">耳机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">四级听力耳机</a>
						</dd>
					</div>
				</div>
			</li>
			<li class="keywords-item">
				<i class="fa fa-shower icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=家电">家电</a>
				<!-- 右侧弹出 -->
				<div class="left-sub-list">
					<div class="level">
						<dt>
							<a class="link" href="">冰　箱</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Media/美的 电冰箱</a>
						</dd>
					</div>
					<div class="level">
						<dt>
							<a class="link" href="">洗衣机</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Haier/海尔</a>
						</dd>
					</div>
					<div class="level">
						<dt>
							<a class="link" href="">热水器</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">Media/美的 热水器</a>
						</dd>
					</div>
				</div>
			</li>
			<li class="keywords-item">
				<i class="fa fa-book icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=图书音象">图书音象</a>
				<!-- 右侧弹出 -->
				<div class="left-sub-list">
					<div class="level">
						<dt>
							<a class="link" href="">图书</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</dt>
						<dd>
							<a class="link" href="" target="_blank">死神永生</a>
						</dd>
					</div>
				</div>
			</li>
			<li class="keywords-item">
				<i class="fa fa-futbol-o icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=户外运动">户外运动</a>
			</li>
			<li class="keywords-item">
				<i class="fa fa-car icon" aria-hidden="true"></i>
				<a class="link words" target="_blank" href="./list.html?keyword=汽车用品">汽车用品</a>
			</li>
		</ul>
		<div class="banner-con">
			<div class="loading"></div>
		</div>
	</div>
	
	<!-- 楼层 -->
	<div class="w">
		<div class="floor clearfix" id="floor1">
			<div class="floor-title">
				<h2>F1 家用电器</h2>
			</div>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100006">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100007">
						<span class="floor-text">电视</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="电视" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100008">
						<span class="floor-text">洗衣机</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="洗衣机" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100009">
						<span class="floor-text">空调</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="空调" />
					</a>
				</li>
				<li class="floor-item floor-item-last">
					<a href="./list.html?categoryId=100010">
						<span class="floor-text">热水器</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="热水器" />
					</a>
				</li>
			</ul>
		</div>
		<div class="floor clearfix" id="floor2">
			<div class="floor-title">
				<h2>F2 数码3C</h2>
			</div>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100011">
						<span class="floor-text">笔记本电脑</span>
						<img class="floor-img" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="笔记本电脑" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100012">
						<span class="floor-text">手机</span>
						<img class="floor-img" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="手机" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100013">
						<span class="floor-text">平板电脑</span>
						<img class="floor-img" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="平板电脑" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100014">
						<span class="floor-text">数码相机</span>
						<img class="floor-img" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="数码相机" />
					</a>
				</li>
				<li class="floor-item  floor-item-last">
					<a href="./list.html?categoryId=100015">
						<span class="floor-text">3C配件</span>
						<img class="floor-img" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="3C配件" />
					</a>
				</li>
			</ul>
		</div>
		<div class="floor clearfix" id="floor3">
			<div class="floor-title">
				<h2>F3 服装箱包</h2>
			</div>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100016">
						<span class="floor-text">女装</span>
						<img class="floor-img" src="<%= require('../image/floor/floor3-1.jpg') %>" alt="女装" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100017">
						<span class="floor-text">帽子专区</span>
						<img class="floor-img" src="<%= require('../image/floor/floor3-2.jpg') %>" alt="帽子专区" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100018">
						<span class="floor-text">旅行箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor3-3.jpg') %>" alt="旅行箱" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100019">
						<span class="floor-text">手提包</span>
						<img class="floor-img" src="<%= require('../image/floor/floor3-4.jpg') %>" alt="手提包" />
					</a>
				</li>
				<li class="floor-item  floor-item-last">
					<a href="./list.html?categoryId=100020">
						<span class="floor-text">保暖内衣</span>
						<img class="floor-img" src="<%= require('../image/floor/floor3-5.jpg') %>" alt="保暖内衣" />
					</a>
				</li>
			</ul>
		</div>
		<div class="floor clearfix" id="floor4">
			<div class="floor-title">
				<h2>F4 食品生鲜</h2>
			</div>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100021">
						<span class="floor-text">最爱零食</span>
						<img class="floor-img" src="<%= require('../image/floor/floor4-1.jpg') %>" alt="最爱零食" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100022">
						<span class="floor-text">生鲜</span>
						<img class="floor-img" src="<%= require('../image/floor/floor4-2.jpg') %>" alt="生鲜" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100023">
						<span class="floor-text">半成品菜</span>
						<img class="floor-img" src="<%= require('../image/floor/floor4-3.jpg') %>" alt="半成品菜" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100024">
						<span class="floor-text">速冻专区</span>
						<img class="floor-img" src="<%= require('../image/floor/floor4-4.jpg') %>" alt="速冻专区" />
					</a>
				</li>
				<li class="floor-item  floor-item-last">
					<a href="./list.html?categoryId=100025">
						<span class="floor-text">进口牛奶</span>
						<img class="floor-img" src="<%= require('../image/floor/floor4-5.jpg') %>" alt="进口牛奶" />
					</a>
				</li>
			</ul>
		</div>
		<div class="floor clearfix" id="floor5">
			<div class="floor-title">
				<h2>F5 酒水饮料</h2>
			</div>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100026">
						<span class="floor-text">白酒</span>
						<img class="floor-img" src="<%= require('../image/floor/floor5-1.jpg') %>" alt="白酒" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100027">
						<span class="floor-text">红酒</span>
						<img class="floor-img" src="<%= require('../image/floor/floor5-2.jpg') %>" alt="红酒" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100028">
						<span class="floor-text">饮料</span>
						<img class="floor-img" src="<%= require('../image/floor/floor5-3.jpg') %>" alt="饮料" />
					</a>
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100029">
						<span class="floor-text">调制鸡尾酒</span>
						<img class="floor-img" src="<%= require('../image/floor/floor5-4.jpg') %>" alt="调制鸡尾酒" />
					</a>
				</li>
				<li class="floor-item  floor-item-last">
					<a href="./list.html?categoryId=100030">
						<span class="floor-text">进口洋酒</span>
						<img class="floor-img" src="<%= require('../image/floor/floor5-5.jpg') %>" alt="进口洋酒" />
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- 侧边定位导航 -->
	<div class="menu">
		<ul class="menu-wrap" id="menu-container">
	        <li><a href="#floor1" class="current">1F 家用电器</a></li>
	        <li><a href="#floor2">2F 数码3C</a></li>
	        <li><a href="#floor3">3F 服装箱包</a></li>
	        <li><a href="#floor4">4F 食品生鲜</a></li>
	        <li><a href="#floor5">5F 酒水饮料</a></li>
	    </ul>
	</div>


	<!-- 引入footer -->
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>