<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://segmentfault.com/" target="_blank">Segmentfault</a> |
            <a class="link" href="http://plugins.jquery.com/" target="_blank">jQuery Plugins</a> |
            <a class="link" href="http://webpack.github.io/docs/" target="_blank">Webpack</a>|
            <a class="link" href="https://www.npmjs.com/" target="_blank">NPM</a>|
            <a class="link" href="http://www.telerik.com/fiddler" target="_blank">Fiddler</a>
        </div>
        <p class="copyright">
            Copyright © 2017-2030 山水汉川. 当前呈现版本 00.00.01<br>
            鄂ICP备 15005796号-2   鄂公网安备 33010602002000号
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>

