<div class="nav">
	<div class="w">
		<div class="link collect">
			<a id="save-web">收藏本站</a>
		</div>
		<ul class="nav-list">
			<li>
				<!-- 没有登录的状态 -->
				<span class="user not-login">
					<span class="link js-login">登录</span>
					<span class="link js-register">注册</span>
				</span>
				<!-- 已经登录的状态 -->
				<span class="user login" style="display: none;">
					<span class="link-text">
						欢迎,
						<span class="username"></span>
					</span>
					<span class="link js-logout">退出</span>
				</span>
			</li>
			<li>
				<a href="./user-center.html" class="link">个人中心</a>
			</li>
			<li>
				<a href="./order-list.html" class="link">我的订单</a>
			</li>
		</ul>
	</div>
</div>